@font-face
	font-family: 'Open Sans'
	src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal
@font-face
	font-family: 'Open Sans'
	src: url('/assets/fonts/OpenSans-Bold.ttf') format('truetype')
	font-weight: bold
	font-style: bold
@font-face
	font-family: 'Open Sans'
	src: url('/assets/fonts/OpenSans-Italic.ttf') format('truetype')
	font-weight: normal
	font-style: italic
@font-face
	font-family: 'Open Sans'
	src: url('/assets/fonts/OpenSans-BoldItalic.ttf') format('truetype')
	font-weight: bold
	font-style: italic
html
	box-sizing: border-box
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased
body
	font-size: 14px
	font-family: 'Open Sans', 'Roboto', sans-serif
#custom-id
	color: lightskyblue
	margin: 0
	padding: 0
	&::first-letter
		font-size: 2.5rem
